<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--============= Logo CSS ============-->
    <link rel="shortcut icon" href="../../assets/img/ProDev-logos.jpeg" type="image/x-icon">
    <title>Techblog</title>
</head>

<body class="dark">
    <button class="theme-switcher">
        <span class="dark show">☀️</span>
        <span class="light">🌙</span>
    </button>
    <nav class="navbar-wrapper">
        <div class="navbar">
            <a href="/index.html" class="logo">Procech</a>
            <span class="separator"></span>
            <ul class="links hide">
                <li class="link">
                    <a href="../blogs.html">Blogs</a>
                </li>

                <li class="link active" id="admin">
                    <a href="#">Dashboard</a>
                </li>
                <li class="link" id="log-btn">
                    <a href="../login.html" class="log-value">Login</a>
                </li>
            </ul>
            <button class="toggle">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </nav>
    <div class="dashboard--container">
        <section class="dashboard--nav">
            <ul>
                <li class="link active">
                    <a href="#">All articles</a>
                </li>
                <li class="link">
                    <a href="./users.html">Users</a>
                </li>
                <li class="link">
                    <a href="./queries.html">Queries</a>
                </li>
                <li class="link">
                    <a href="../create.html">Create</a>
                </li>
            </ul>
        </section>
        </section>
        <section class="dashboard--body">
            <!-- <div class="article--container">
                <div class="article--img">
                    <img src="../assets/img/elia-pellegrini-exoy_coaujY-unsplash.jpg" />
                </div>
                <div class="article-title">Where are we headed?</div>
                <div class="article-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi doloribus dolor officia atque exercitationem Distinctio commodi doloribus dolor officia atque exercitationem Distinctio commodi doloribus dolor officia atque exercitationem Distinctio
                        commodi doloribus dolor officia atque exercitationem Distinctio commodi doloribus dolor officia atque exercitationem voluptatum.
                    </p>
                    <div class="reactions article--reactions">
                        <span><img src="../assets/img/Thumb-up.svg " alt=" "> Likes</span>
                        <span><img src="../assets/img/playbutton.svg " alt=" "> views</span>
                        <span><img src="../assets/img/comments-svgrepo-com.svg " alt=" ">Comments</span>
                    </div>
                </div>
                <div class="actions">
                    <i class="fa-thin fa-trash-can"></i>
                    <i class="fa-thin fa-pen-to-square"></i>
                </div>
            </div> -->
        </section>
        </div>


    <script src="../js/theme.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/dashboard.js"></script>
</body>



</html>
