<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="./js/theme.js"></script>
    <script src="./js/navbar.js"></script>
    <title>Techblog</title>
</head>

<body class="dark">
    <button class="theme-switcher">
        <span class="dark">☀️</span>
        <span class="light">🌙</span>
    </button>
    <nav class="navbar-wrapper">
        <div class="navbar">
            <a href="../index.html" class="logo">Procech</a>
            <span class="separator"></span>
            <ul class="links hide">
                <li class="link">
                    <a href="./blogs.html">Blogs</a>
                </li>

                <li class="link active" id="admin">
                    <a href="#">Dashboard</a>
                </li>
                <li class="link" id="log-btn">
                    <a href="login.html">Login</a>
                </li>
            </ul>
            <button class="toggle">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </nav>
    <div class="dashboard--container">
        <section class="dashboard--nav">
            <ul>
                <li class="link">
                    <a href="./dashboard.html">My articles</a>
                </li>
                <li class="link">
                    <a href="./users.html">Users</a>
                </li>
                <li class="link active">
                    <a href="#">Profile</a>
                </li>
                <li class="link">
                    <a href="../create.html">Create</a>
                </li>
            </ul>
        </section>
        </section>
        <section class="dashboard--body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem alias itaque fugit labore quia quo a aperiam! Praesentium qui ullam porro nam amet quae dolores facilis, consectetur natus earum iste. Asperiores libero repellendus qui doloremque,
                soluta recusandae amet perspiciatis saepe ducimus, dolores sit? Eveniet laborum delectus, ducimus animi explicabo beatae quod! Reiciendis soluta facilis fugit nostrum rem, voluptatem minima officia omnis, quae ipsa magni, vero atque exercitationem
                laudantium labore quasi. Ratione earum harum optio doloremque? Facere possimus, cumque vel excepturi quis fugit deserunt, magnam quia expedita necessitatibus modi unde sunt sed ad minus nesciunt! Est in, doloribus illo cum quidem atque
                quis a neque saepe! Magni, aliquid accusamus iure dicta vero esse ratione. Odit accusantium eveniet aspernatur culpa repudiandae nemo quod, voluptas corrupti quas excepturi. Quod saepe consequuntur, totam quis nemo, natus expedita qui
                quaerat ad nisi incidunt? Consectetur delectus deserunt facere soluta aut voluptate laboriosam quaerat fuga quia eligendi repudiandae tenetur quos, ab voluptates magni maiores accusamus at iusto explicabo officiis nesciunt sint! Unde aspernatur
                eveniet minus, molestiae ab sapiente, dolore, voluptate aliquam asperiores voluptas dolorem quas culpa sit corrupti incidunt architecto. Tempore labore laboriosam voluptatibus ipsa debitis non quidem iusto voluptates totam reiciendis!
                Maiores saepe impedit natus nostrum.</p>
        </section>
    </div>

</body>



</html>
