<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="./js/theme.js"></script>
    <script src="./js/navbar.js"></script>
    <title>Techblog</title>
</head>

<body class="dark">
    <button class="theme-switcher">
        <span class="dark">☀️</span>
        <span class="light">🌙</span>
    </button>
    <nav class="navbar-wrapper">
        <div class="navbar">
            <a href="../index.html" class="logo">Procech</a>
            <span class="separator"></span>
            <ul class="links hide">
                <li class="link">
                    <a href="./blogs.html">Blogs</a>
                </li>

                <li class="link active" id="admin">
                    <a href="#">Dashboard</a>
                </li>
                <li class="link" id="log-btn">
                    <a href="login.html">Login</a>
                </li>
            </ul>
            <button class="toggle">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </nav>
    <div class="dashboard--container">
        <section class="dashboard--nav">
            <ul>
                <li class="link">
                    <a href="./dashboard.html">My articles</a>
                </li>
                <li class="link active">
                    <a href="#">Users</a>
                </li>
                <li class="link">
                    <a href="./profile.html">Profile</a>
                </li>
                <li class="link">
                    <a href="../create.html">Create</a>
                </li>
            </ul>
        </section>
        </section>
        <section class="dashboard--body">
            <div class="users--container">

            </div>
        </section>
    </div>

</body>



</html>
